<link rel="stylesheet" type="text/css" href="css/Chapter 01.css"/>


<h1>My first styled page</h1>

<p class="blue">Welcome to my styled page!</p>

<h2>It lacks images, but at least it has style.
And it has links, even if they don't go
anywhere&hellip;</h2>

<p class="green underline">There should be more here, but I don't know
what yet.</p>


<img  class = "imagec" src="https://www.w3schools.com/css/img_fjords.jpg">
<p class="para">So now that you know the difference between italics and obliques, how do you decide which to use? Both are commonly used for emphasis, as well as stand-alone usage. Most italics, especially the calligraphic variety, have a stronger contrast when used with their companion roman, compared to an oblique, which can be used in much the same way as italics, but has a softer “voice,” if you will. Therefore, when doing your font exploration, consider how much contrast is required for the project at hand, and conduct your search accordingly</p>

<p class="para para2">So now that you know the difference between italics and obliques, how do you decide which to use? Both are commonly used for emphasis, as well as stand-alone usage. Most italics, especially the calligraphic variety, have a stronger contrast when used with their companion roman, compared to an oblique, which can be used in much the same way as italics, but has a softer “voice,” if you will. Therefore, when doing your font exploration, consider how much contrast is required for the project at hand, and conduct your search accordingly</p>