<link rel="stylesheet" type="text/css" href="css/floats/stylesheet.css"/>

<div id = "floats">
	<div id = "container">
		<h1>CSS Floats</h1>

		<p id = "para1">
			Temperatures Rising is an American television sitcom that aired on the ABC network with 46 episodes from September 1972 to August 1974. It was developed by William Asher and Harry Ackerman. The first season, set in a fictional Washington, D.C. hospital, featured James Whitmore as a no-nonsense chief-of-staff who endures the antics of a young intern (Cleavon Little) and three nurses (Joan Van Ark, Reva Rose, and Nancy Fox). In the 13-episode second season, produced by Duke Vincent and Bruce Johnson, everyone except Little was replaced, and the show was retitled The New Temperatures Rising Show. Comedian Paul Lynde played a penny-pinching chief-of-staff, accompanied by Sudie Bond, Barbara Cason, Jennifer Darling, Jeff Morrow, and John Dehner. Critics preferred the second-season cast, but the black comedy approach led to lower ratings. In an unsuccessful seven-episode summer 
		</p>

		<p id = "para2">
			Temperatures Rising is an American television sitcom that aired on the ABC network with 46 episodes from September 1972 to August 1974. It was developed by William Asher and Harry Ackerman. The first season, set in a fictional Washington, D.C. hospital, featured James Whitmore as a no-nonsense chief-of-staff who endures the antics of a young intern (Cleavon Little) and three nurses (Joan Van Ark, Reva Rose, and Nancy Fox). In the 13-episode second season, produced by Duke Vincent and Bruce Johnson, everyone except Little was replaced, and the show was retitled The New Temperatures Rising Show. Comedian Paul Lynde played a penny-pinching chief-of-staff, accompanied by Sudie Bond, Barbara Cason, Jennifer Darling, Jeff Morrow, and John Dehner. Critics preferred the second-season cast, but the black comedy approach led to lower ratings. In an unsuccessful seven-episode summer 
		</p>
		<div id = "footer"></div>

		<p id = "para3">
			Temperatures Rising is an American television sitcom that aired on the ABC network with 46 episodes from September 1972 to August 1974. It was developed by William Asher and Harry Ackerman. The first season, set in a fictional Washington, D.C. hospital, featured James Whitmore as a no-nonsense chief-of-staff who endures the antics of a young intern (Cleavon Little) and three nurses (Joan Van Ark, Reva Rose, and Nancy Fox). In the 13-episode second season, produced by Duke Vincent and Bruce Johnson, everyone except Little was replaced, and the show was retitled The New Temperatures Rising Show. Comedian Paul Lynde played a penny-pinching chief-of-staff, accompanied by Sudie Bond, Barbara Cason, Jennifer Darling, Jeff Morrow, and John Dehner. Critics preferred the second-season cast, but the black comedy approach led to lower ratings. In an unsuccessful seven-episode summer 
		</p>

		<p id = "para4">
			Temperatures Rising is an American television sitcom that aired on the ABC network with 46 episodes from September 1972 to August 1974. It was developed by William Asher and Harry Ackerman. The first season, set in a fictional Washington, D.C. hospital, featured James Whitmore as a no-nonsense chief-of-staff who endures the antics of a young intern (Cleavon Little) and three nurses (Joan Van Ark, Reva Rose, and Nancy Fox). In the 13-episode second season, produced by Duke Vincent and Bruce Johnson, everyone except Little was replaced, and the show was retitled The New Temperatures Rising Show. Comedian Paul Lynde played a penny-pinching chief-of-staff, accompanied by Sudie Bond, Barbara Cason, Jennifer Darling, Jeff Morrow, and John Dehner. Critics preferred the second-season cast, but the black comedy approach led to lower ratings. In an unsuccessful seven-episode summer 
		</p>
		<div id = "footer2"></div>
	</div>
</div>